<div class="d-flex justify-content-center">
    <form class="mb-3">
        <br>
        <br>
        <div class="mb-3">
            <div class="row g-3">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" required>
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" required>
                </div>
            </div>
            <br>
            <input type="number" class="form-control" placeholder="Age" required>
            <br>
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" placeholder="name@example.com" required>
            <br>
            <button type="submit" class="btn btn-primary">Submit form</button>
        </div>
    </form>
</div>