<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">E-mail</th>
            <th scope="col">Age</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">1</td>
            <td scope="row">Davi Carvalho</td>
            <td scope="row">davi@example.com</td>
            <td scope="row">14</td>
            <td scope="row"><a class="btn btn-danger" href="#">Delete</a></td>
            <td scope="row"><a class="btn btn-primary" href="#">Details</a></td>
        </tr>
    </tbody>
</table>